/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    margin-bottom: 2000px;
    font-family: 'Oswald', sans-serif;
  }
  
  
  /* HEADER */
  header {
    background-color: black;
    height: 960px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/armored-core-6-banner.jpg");
    justify-content: center;
    align-items: center;
  }
  #nav-container {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  nav {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.4,0,.2,1);
    
  }
  #nav-container:hover nav{
    transform: translateY(0);
  }
  /* HEADER LOGO*/
  .flex-logo img{
    display: flex;
    margin-left: 40px;
    width: 100px;
    height: 100px;
  }
  /* HEADER NAV BAR */
  .flex-nav {
    display: flex;
    height: 100px;
    margin-left: 100px;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    white-space: nowrap;
    text-align: justify;
  }
  /* HEADER LIENS */
  .lien {
    color: black;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #000000;
    color: #000000;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 20px;
    margin-left: 30px;
  }
  .lien:hover {
    color: white;
    background-color: #00000090;
    box-shadow: inset 0 0 0 0 #808080;
    color: white;
  }
  
  
  /* BANNER */
  #banner {
    width: auto;
    height: auto;
  }
  /* BANNER PLACEHOLDER */
  h1 {
    padding: 50px;
    background: #00000090;
    border-radius: 5%;
    color: white;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
  }
  
  /* SECTION SEPARATOR */
  .section-separator {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    height: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* SECTION TITLE */
  .section-title{
    display: flex;
    justify-content: center;
    height: auto;
  }
  h2 {
    color: white;
    font-size: 60px;
  }
  
  /* SUMMARY */
  .flex-summary {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 800px;
    border: 2px solid white;
  }
  #summary-text {
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 200px;
  }
  #text-box {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: start;
  }
  
  
  /* WORLD */
  .flex-triple {
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .img-place {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    border: 2px solid white;
    width: 500px;
    height: 700px;
  }
  .image-un {
    background-image: url("../Images/armored-core-6-background-quatre.jpg");
    background-position: left;
  }
  .image-deux {
    background-image: url("../Images/armored-core-6-background-deux.png");
  }

  .image-trois {
    background-image: url("../Images/armored-core-6-background-trois.jpg");
  }


  .img-desc {
    position: absolute;
    bottom:0;
    background: #00000080;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
  }
  .img-place:hover .img-desc {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    visibility: visible;
  }
  
  /* FLEX FACTIONS*/
  .flex-double {
    display: flex;
    justify-content: center;
    height: 700px;
    width: auto;
    gap: 150px;
  }
  .flex-element{
    display:flex;
    height: 300px;
    width: 500px;
  }

  /* FLEX EMBLEM */
  .flex-element-emblem {
    border: 2px solid white;
    padding:10px;
    height: 250px;
    width: 250px;
  }
  .flex-element-emblem img {
    width: 100%;
    height: auto;
  }
  .flex-element-text {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 30px;
    padding: 0;
  }